<% if subject.errors.any? %>
<div id="errorExplanation">
  <h2><%= pluralize(subject.errors.count, "error") %> prohibited this <%=subject.class.human_name.downcase %> from being saved:</h2>
  <ul>
  <% subject.errors.full_messages.each do |msg| %>
  <li><%= msg %></li>
  <% end %>
  </ul>
</div>
<% end %>
