  <% if @list.errors.any? %>
  <div id="errorExplanation">
    <h2><%= pluralize(@list.errors.count, "error") %> prohibited this list from being saved:</h2>
    <ul>
    <% @list.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
  <%= f.label :title %>
  <%= f.text_field :title %>
