<ul>
  <% @lists.each do |list| %>
      <li><%= link_to list.title, list %></li>
  <% end %>
</ul>
<aside class="actions">
<h2>Actions</h2>
<ul>
  <li><%= link_to "New List", new_list_url %></li>
</ul>
</aside>
